<div class="h-full bg-gray-800 text-white w-64 p-4 flex flex-col" [class.hidden]="!isSidebarOpen">
  <!-- Logo Section -->
  <div class="p-4 border-b border-gray-700">
    <div class="flex items-center justify-center">
      <img src="assets/logo_b.png" alt="Pattern AI" class="p-2 w-40 h-20"/>
    </div>
  </div>
  <div class="flex justify-between items-center mb-6 mt-10">
    <h2 class="text-xl font-semibold">Spaces</h2>
    <button (click)="createNewSpace()" class="p-2 bg-gray-600 text-white rounded-full hover:bg-gray-700 transition-colors border border-gray-400">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
    </button>
  </div>
  <div class="flex-1 overflow-y-auto space-y-2 scrollbar-thin scrollbar-thumb-gray-700 scrollbar-track-gray-900">
    <div *ngFor="let space of spaces" class="relative">
      <div 
        class="flex justify-between items-center p-2 rounded cursor-pointer transition-colors duration-200"
        [class.bg-gray-600]="currentSpace?.id === space.id"
        [class.hover:bg-gray-700]="currentSpace?.id !== space.id"
        (click)="onSpaceSelect(space)"
      >
        <span>{{ space.name }}</span>
        <button (click)="toggleSpaceMenu(space); $event.stopPropagation()"
                class="p-1 hover:bg-gray-600 rounded">
        </button>
      </div>
    </div>
  </div>
  <!-- Logout Button -->
    <div class="mt-4">
      <button (click)="logout()" class="w-full p-2 bg-red-900 text-white rounded-lg hover:bg-[#661414] transition-colors border border-gray-300 flex items-center justify-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
        <span>Logout</span>
      </button>
  </div>
</div>

<!-- Toggle Button -->
<button (click)="toggleSidebar()" class="fixed top-4 left-4 p-2 bg-gray-600 text-white rounded-full hover:bg-gray-700 transition-colors z-[999] border border-gray-400">
  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
  </svg>
</button>